main{
    background-color: teal;
    color: white;
    align-content: center;
    padding-top: 100px;
}

p{
    margin-top: 80px;
    text-align: center;
}

div{
    margin-top: 2%;
    align-items: center;
    text-align: center;
}
#article{
    margin-top: 15px;
    margin-bottom: 45px;
}