main{
    background-color: darkgreen;
    color: white;
    align-content: center;
    padding-top: 100px;

    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 90px;

}

body{
    background-image: url("../images/test.jpg");
}

p{
    margin-top: 80px;
    text-align: center;
}

.img{
    margin-top: 2%;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;

}
#article{
    margin-top: 15px;

}

#panier{
    text-align: right;
}

