main{
    background-color: rgba(255,255,255, 0.6);
    color: dodgerblue;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

    border-radius: 25px;

    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 5%;
    margin-right: 5%;


}

body{
    background-image: url("../images/testV2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

p{
    padding: 10px;
    text-align: center;
}

.img{
    margin-top: 2%;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;


}

img{

}
#article{
    margin-top: 15px;

}

#panier{
    text-align: right;
}

fieldset{
    border: none;
}

.transparent{
    background-color: rgba(255, 255, 255, 0.0);
}

