*{
	margin:0;
	padding: 0;
}

#footer{
	margin-top: 30px;
	background-color: #343a40;
	font-family: "verdana",Arial;
	position:absolute;
	bottom:0;
	width: 100%;
}

#logo_container{
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
}

.texte_indication{
	color: #adadad;
	margin-top: 10px;
	margin-bottom: 17px;
	text-align: center;
}

.link{
color: #3d7e9a;
}

#fieldset{
	box-shadow: none;
	border: none;
	display: flex;
	justify-content: center;
}

#form{
	display: flex;
	justify-content: center;
}

#email{
	margin-left: 15px;
	margin-right: 15px;
	font-size: 0.75em;
	width: 250px;
	height: 20px;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px / 4px;
}

#valider{
	margin-left: 15px;
	margin-right: 15px;
	width: auto;
	height: 24px;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px / 4px;
}

#footer_child1 div{
	margin-bottom: 20px;
}

@media (min-width: 1000px){
	footer{
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		height: auto;
	}

	.footer{
		margin-right: 20px;
		margin-left: 20px;
	}
	
	#footer_child2{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	}

	.footer{
	font-size: 1em;
	}
}


/*petits écrans <900px ou orientation portrait*/
@media (max-width: 1000px){
	#footer_child2{
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-bottom: 20px;
	}

	.link{
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.footer{
	font-size: 0.85em;
	}
}